
/*Animação da SideBar para ir lentamente para esquerda*/
@keyframes animateleft{from{left:-300px;opacity:0} to{left:0;opacity:1}}

nav ul li:hover {
    background-color: grey !important;
   width: 100%;    
}



@media only screen and (max-width: 800px) {
    #SideBarLateral {
        animation:animateleft 0.4s;
        position:relative;
        display: none;   
         }

    #SideBarLateral  ul li {
        width: 100%;
        }
        
}

@media only screen and (min-width: 1000px) {
  
    #SideBarLateral {
        display: block;   
         }

}